@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
body {
    position: absolute;
   }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'montserrat', Courier, monospace;
    height: 1000px;
    font-size: 100%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
}
.nav-bar li {
    padding-top: 20px;
    list-style: none;

}

.nav-bar li a {
    text-decoration: none;
    font-weight: 700;
    padding: 10px 20px;
}

#contact-head a {
    border: solid 2px purple;
    border-radius: 50px;
    padding: 10px;
    transition: background-color 0.5s;
}
#contact-head a:hover {
    background-color: purple;
    color: white;
}

#mew-welcome {
    margin-top: 100px;
    margin-bottom: 100px;
}

.hero-welcome-text {
    text-align: center;
    font-size: 20px;
    color: #6125c1;
    font-family: 'Courier New', Courier, monospace;

}
.hero-body {
    padding: 3rem 1.5rem;
}

.container {
    margin: 0 5%;
    position: relative;
    display: flex;
    width: auto;
    vertical-align: baseline;
    align-items: center;
    justify-content: center;

}

.hero {
    padding-top: 100px;
    position: relative;
}
.hero column {

    justify-items: center;
    text-align: center;
}
.hero .column {
    text-align: center;
    line-height: 2.5rem;
}

.hero .column h1 {
    font-size: 2rem;
    font-weight: 700;
}

.hero .column h2 {
    font-size: 1rem;
    font-weight: 400;
}
.hero .column img {
    border: solid 2px purple;
    width: 300px;
    height: auto;
    border-radius: 100%;
}
.hero .avatar {
    margin-top: 20px;
}
.nav-logo img {
    height: 60px;
    width: 60px;
}

.hero-foot img {
    height: 300px;
}

.section-main {
    position: relative;
    background-color: #6125c1;
    padding: 100px;
    width: 100%;
    height: 50%;
    text-align: center;
    color: white;
    line-height: 2;
}

.section-main h1 {
    font-weight: 700;
    font-size: 1.5rem;
}

.section-main h2 {
    font-weight: 400;
    font-size: 1rem;
}

/* end main section  */

.section-skills {

}
.box {
    position: relative;
    display: flex;
    background-color: white;
    margin: 0 5%;
    text-align: center;
    box-shadow: 0px 1px 4px #6125c1;
    z-index: 1;
    margin-top: -50px;
    border-radius: 20px;
    max-width: 1250px;
    line-height: 2rem;
    
}

.box .column {
    padding: 50px;
    border-left: 1px solid  #6125c1 ;
}


.section-skills .column {
    line-
    padding: 65px 35px;
    justify-content: center;
    max-width: 500px;
}
.section-skills .column:nth-child(1) {
    border: none;
}
.section-skills .column .title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-transform: uppercase
}

.column li {
    list-style: none;
}

.icon img {
    height: 100px;
}

.title-skills {
    color: #6125c1;
    font-weight: 700;
}
.is-space {
   padding-top: 10px; 
}

.is-title {
    font-size: 50px; margin-bottom: 100px; text-transform: uppercase;
}

.section-main {


}

.gallery {
    position: relative;
    top: 150px;
}

.grid-container {
    columns: 3 200px;
    column-gap: 1.5rem;
    width: 90%;
    margin: 0 auto;
    
        
}
.grid-container div {
         width: 150px;
         margin: 0 1.5rem 1.5rem 0;
         display: inline-block;
         width: 100%;
         border: solid 2px black;
            padding: 5px;
            
         border-radius: 5px;
          transition: all    .25s ease-in-out;
    
}

.grid-container div:hover {
    transform: scale(1.1);
}

.grid-container img {
        width: 100%;
        border-radius: 5px;
    
}
    
.grid-item {
        filter: grayscale(10%);
        transition: all .25s ease-in-out;
}
.grid-item:hover ,  {
        filter: grayscale(0%);
        transform: scale(1.1);
        transition: all .25s ease-in-out;
}    
    
.grid-container p {
        margin: 5px 0;
        padding: 0;
        text-align: center;
        font-style: italic;
}


.footer {
    margin-top: 250px;
    flex-direction: column;
    text-align: center;
    position: relative;
    align-items: center;

}
.footer .contact-info {
    padding: 100px;
    background-color: #6125c1;
    color: white;
    font-size: 20px;
}

.contact-info li {
    list-style: none;
    width: 100%;
}

.copyright {

}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++   */
.back-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
}

@media (min-width: 1281px) {


    
  }

  
  @media (max-width: 1024px) {

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
    
    }
    .box .column {
        
        border-left:none;
        border-top: 1px solid #6125c1;
    }
    .svg-hero img {
        height: 100%;
        width: 100%;
    }
    .section-main {
        height: auto;
        padding: 25px;
        
    }

  }

  @media (max-width: 900px) {
          
    .box {
        display: flex;
        flex-direction: column;
        margin: 20px 10%;
        align-items: center;
        font-size: x-small;

    /* CSS */

  }
}
